<div class="banner">
  <img src="http://placehold.it/1240x720" alt="" />
    <div class="project-banner-title">
      <h1>VOLUNTEERING</h1>
    </div>
</div>
<div class="description">
  <h5>
    Fai la differenza! </br>
    Parti anche tu con Fondazione Brownsea e supporta il Progetto Harambee!
  </h5>
</div>
<div class="description">
  <p>
    L’esperienza di volontariato ti permette di trascorrere due o tre settimane nel profondo Kenya insieme agli altri volontari e allo staff locale che coordinerà le attività da svolgere ogni giorno.
    Avrai la possibilità di vivere insieme alla comunità locale sperimentando cibi, usi e costumi, immergendoti completamente nella cultura locale.
  </p>
</div>
<div class="description">
  <p>
    Le attività in cui verrai coinvolto spazieranno dall’intrattenimento dei bambini dell’asilo alla manutenzione delle infrastrutture; dall’organizzazione di attività sportive e ludiche per i ragazzi della comunità ad indagini sulla composizione demografica ed economica della zona.
    Sarai coinvolto ogni giorno in attività differenti, potrai proporre nuove iniziative e sperimentare idee insieme agli abitanti di Nyandiwa.
  </p>
</div>
<div class="description">
  <h5>
    Candidati ora!
    Ti ricontatteremo per fissare un colloquio ed essere pronti per la partenza.
  </h5>
</div>
<div class="application-form">

  <%= simple_form_for [ @volunteer] do |f| %>
    <%= f.input :first_name, required: true, label: "First name" %>
    <%= f.input :last_name, required: true, label: "Last name" %>
    <%= f.input :cv %>
    <%= f.input :cv_cache, as: :hidden %>
    <%= f.input :accepts_treatment, as: :radio_buttons, required: true, label: "By submitting your application to us you give your permission for us to contact the current creatives you have suggested as supporters of your application. You also give your permission for us to contact the referees listed in your attached CV" %>
  </br>
  <div>
    <%= f.button :submit, 'Send Application', :class=> "btn btn-primary" %>
  </div>
  <% end %>
</div>
