<div class="footer">
  <div class="footer-nav">
    <div class="footer-nav-website">
      <div class="footer-nav-website-item">
        <h4>CHI SIAMO</h4>
        <ul>
          <li><%= link_to "Il Progetto", project_path %></li>
          <li><%= link_to "Staff", staff_path %></li>
          <li><%= link_to "Contatti", contacts_path %></li>
        </ul>
      </div>
      <div class="footer-nav-website-item">
        <h4>COSA FACCIAMO</h4>
        <ul>
          <li><%= link_to "Educazione e formazione", edu_path %></li>
          <li><%= link_to "Arte e Turismo", culture_path %></li>
          <li><%= link_to "Agricoltura e allevamento", agriculture_path %></li>
          <li><%= link_to "Servizi Sociali", social_path %></li>
          <li><%= link_to "Sport", sport_path %></li>
        </ul>
      </div>
      <div class="footer-nav-website-item">
        <h4>PARTI CON NOI</h4>
        <ul>
          <li><%= link_to "Volontariato", new_volunteer_path %></li>
          <li><%= link_to "Internship", new_intern_path %></li>
        </ul>
      </div>
      <div class="footer-nav-website-item">
        <h4>NEWS</h4>
        <ul>
          <li><%= link_to "Diario", diary_posts_path %></li>
          <li><%= link_to "News da Nyandiwa", blog_posts_path %></li>
        </ul>
      </div>
    </div>
    <div class="footer-nav-social">
      <div class="footer-nav-social-item">
        <a href="https://www.facebook.com/IksdpProgettoHarambeeKenya/"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
      </div>
      <div class="footer-nav-social-item">
        <a href="https://www.instagram.com/iksdp_harambeeproject/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
      </div>
      <div class="footer-nav-social-item">
        <a href="www.youtube.com"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-address">
    <div class="footer-address-content">
      <h5>IKSDP NYANDIWA</h5>
      <p>Progetto Harambee - Via Burigozzo 11, Milano  mail: harambeeproject@iksdp.net - +39 3205535122 Antonio</p>
      <p>Grazioli L | Ruosi D | Cloud C</p>
    </div>
  </div>
</div>
