<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Gwassi.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">







    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a class="navbar-wagon-link dropdown-toggle", id="navbar-wagon-menu", data-toggle="dropdown">CHI SIAMO</a>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to project_path do %>
              <%= t(".profile", default: "Progetto") %>
            <% end %>
          </li>
          <li>
            <%= link_to staff_path do %>
              <%= t(".profile", default: "Staff") %>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a class="navbar-wagon-link dropdown-toggle", id="navbar-wagon-menu", data-toggle="dropdown">ATTIVITA'</a>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to edu_path do %>
              <%= t(".profile", default: "Educazione") %>
            <% end %>
          </li>
          <li>
            <%= link_to social_path do %>
              <%= t(".profile", default: "Sociale") %>
            <% end %>
          </li>
          <li>
            <%= link_to culture_path do %>
              <%= t(".sign_out", default: "Cultura") %>
            <% end %>
          </li>
          <li>
            <%= link_to agriculture_path do %>
              <%= t(".sign_out", default: "Agricoltura") %>
            <% end %>
          </li>
          <li>
            <%= link_to sport_path do %>
              <%= t(".sign_out", default: "Sport") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a class="navbar-wagon-link dropdown-toggle", id="navbar-wagon-menu", data-toggle="dropdown">PARTI CON NOI</a>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to new_intern_path do %>
              <%= t(".profile", default: "Internship") %>
            <% end %>
          </li>
          <li>
            <%= link_to new_volunteer_path do %>
              <%= t(".profile", default: "Volontariato") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a class="navbar-wagon-link dropdown-toggle", id="navbar-wagon-menu", data-toggle="dropdown">NEWS</a>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to diary_posts_path do %>
              <%= t(".profile", default: "Diario") %>
            <% end %>
          </li>
          <li>
            <%= link_to blog_posts_path do %>
              <%= t(".profile", default: "Kenya") %>
            <% end %>
          </li>
        </ul>
      </div>


    </div>
    <div class="navbar-wagon-item">
      <div>
        <a href="#" class="navbar-wagon-button">SOSTIENICI</a>
      </div>

    </div>


  </div>


</div>

