<div class="banner">
  <img src="http://res.cloudinary.com/dfeoxpejq/image/upload/c_scale,w_1280/v1491748877/Sfondo_Diario_fvqjc7.jpg" alt="" />
    <div class="project-banner-title">
      <h1>DIARIO</h1>
    </div>
</div>
<% if @diary_posts %>
  <% @diary_posts.each do |post| %>
    <div class="blog-card">
      <div>
        <%= cl_image_tag post.photo, height: 180, width: 518, crop: :fill %>
      </div>
      <div class="blog-card-text-right">
        <h6><%= l(post.created_at.to_date, format: :long) %></h6>
        <h4><%= post.title %></h4>
        <p>
          <%= post.content.truncate(150) %>
        </p>
        <%= link_to "Leggi tutto", diary_post_path(post), class: "navbar-wagon-button" %>
      </div>
    </div>
  <% end %>
<% end %>


