<div class="application-form">

  <%= simple_form_for [ @diary_post] do |f| %>
    <%= f.input :title, required: true, label: "Title" %>
    <%= f.input :content, required: true, label: "Write something" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

  <div>
    <%= f.button :submit, 'Create Post', :class=> "btn btn-primary" %>
  </div>
  <% end %>
</div>
